* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

button {
    width: 75px;
    border-radius: 10px;
    padding: 5px;
    background-color: #3882F6;
    color: #e5e7eb;
    font-weight: bold;
}

.container {
    display: flex;
    margin: 0 auto;
    padding: 0px 50px 25px;
}

.navbar {
    background: #1F2937;
    color: #e5e7eb;
    /* height: 60px; */
    padding: 25px 0;
}

.navbar .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-left: 16px;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb
}

.header .container {
    background: #1F2937;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.header h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header img {
    max-width: 150px;
}

.header p {
    margin-bottom: 25px;
}

.info .container {
    flex-direction: column;
    align-items: center;
}

.info h3 {
    margin: 25px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 75px;
    
}

.box {
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 25px;
    gap: 150px;
}

.box-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.box-main p {
    text-align: center;
    max-width: 200px;
}

.testimonials .container {
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font: 36px light #1F2937;
    font-style: italic;
}

.quote-source {
    align-self: end;
    font-weight: bold;
}

.footer .container {
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
    background-color: #3882F6;
    padding: 24px 48px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.action-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.action-subtitle {
    color: #F9FAF8;
    font-size: 18px;
}